/* Seções que tem na página */
@import './cores.css';
@import './fontes.css';
@import './normalizar.css';
@import './scrollbar.css';
@import './selecao-texto.css';

.cookies-msg{
    width: 80%;
    background-color: white;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999; /* Altere o valor do z-index conforme necessário */

}