/* Seções que tem na página */
@import './cores.css';
@import './fontes.css';
@import './normalizar.css';
@import './scrollbar.css';
@import './selecao-texto.css';

.cookies-msg{
    width: 80%;
    background-color: white;
    z-index: 9999;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 15px;
    display: none;
}

.cookies-msg.mostrar{
    display: block;
}

.cookies-msg .cookies-txt{
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 20px;
}

.cookies-msg .cookies-btn{
    margin-left: 25px;
    font-family: sans-serif;

}

.cookies-msg .cookies-btn button{
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 40px;
    cursor: pointer;
    transition: .2s;
}

.cookies-msg .cookies-btn button:hover{
    transform: scale(0.9);
}